@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto Tecnomotor</h1>
    <p>Processo seletivo Tecnomotor desenvolvimento de uma aplicação de veículos e montadoras.</p>
</div>
